<ion-view view-title="Report Issue" ng-controller="LoginCtrl">
 <ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>

    <button type="button" ng-controller="myAccountCtrl" href="#/tab/myAccount" ng-click="goToMyAccount()">My account - {{user.login}}</button>

  </ion-nav-buttons>
  <ion-content ng-controller="CreateIssueController">
      <div class="card">
  <div class="item item-text-wrap">
    Hello! This is the issue creation screen.
  </div>
</div>
      <form name="createIssueForm">
    <img ng-model="newIssue.imageUrl" ng-show="newIssue.imageUrl !== undefined" ng-src="{{newIssue.imageUrl}}">
    <img ng-model="newIssue.imageUrl" ng-show="newIssue.imageUrl ===undefined" ng-src="http://placehold.it/100x100">
    <button ng-click="ClickPhoto()">TAKE PICTURE</button>
    
     <!--<label class="item item-input item-select">
    <div class="input-label">
      IssueType
    </div>
  <select ng-model="myColor" ng-options="color.name group by color.name for color in colors"></select>
 </label>-->
   <!--<label class="item item-input item-select">
    <div class="input-label">
      IssueType
    </div>
  <select ng-model="issueTypesSelected" ng-options="issueType.id for issueType in issueTypes"></select>
 </label>-->
        <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      IssueType
    </div>
    <select ng-model="newIssueModel.issueType" required="required">
      <option ng-repeat="issueType in issueTypes" value=“{{issueType.id}}”>{{issueType.name}}</option>
    </select>
  </label>
          
</div>

      <!-- Ionic uses lists to group related input elements. -->
      <div class="list">
        <label class="item item-input">
          <!-- Note the required="required" attribute used for validation. -->
          <input type="text" placeholder="Descritption" ng-model="newIssueModel.description" required="required"/>
        </label>
                  
                </div>

      <!-- Display an error message here, above the submit button, if an error occurred. -->
      <p ng-if="error" class="error">{{ error }}</p>

      <!--
        The submit button.
        The "ng-click" directive indicates which scope function to call when the form is submitted.
        The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
      -->
      <button class="button button-full button-positive" ng-click="TestClickFunction()" ng-disabled="createIssueForm.$invalid">Create Issue</button>
    </form>
     

    
    </ion-content>
</ion-view>

 